[package]
name = "zulon-language"
version = "0.1.0"
edition = "2024"

[dependencies]
cranelift = "0.127"
cranelift-codegen = "0.127"
cranelift-frontend = "0.127"
cranelift-module = "0.127"
cranelift-native = "0.127"
cranelift-control = "0.127"
cranelift-jit = "0.127"
simd = "0.2.5"
